@font-face {
  font-family: droidsans;
  src: url(../lib/fonts/DroidSans.ttf);
}

body {
    min-height: 20px;
    height:auto;
    overflow: auto;
    font-family: droidsans;
    margin: auto;
}

nav, .nav-wrapper {
	height: 9vh;
	background-color: #4db6ac;
    box-shadow: 0 0 0 0;
}

nav .brand-logo {
    font-size: 4vh;
    left: 14vw !important;
}

.location-field {
    height: 5vh;
}
.location-field label {
    font-size: 2.5vh;
    color: #000000;
}

.location-field img {
    width: 5vh;
    height: 5vh;
}

.location-field input {
	height: 3vh;
}

.row {
    margin-bottom: -1vh;
    height: 5vh;
    overflow: overlay;
}

.row .col {
    padding-left: 0px;
}

.inline input {
    margin-bottom: 0rem;
    font-size: 3vh;
}

.route-field {
    background: #f2f2f2;
    height: 75vh;
}

.route-field td, th {
	padding: 0vh;
}

.button-field {
    height: 9vh;
}

.button-field a {
    background: #e0f2f1;
    color: #80cbc4 !important;
}

.route-tab {
    height: 6vh !important;
    line-height: 6vh !important;
}

.tab a.active {
    background: #e0f2f1 !important;
    color: #009688 !important;
}

.indicator {
    background: #4db6ac !important;
    height: 0.6vh !important;
}

.map-field, #map_div {
    height: 85vh;
}

#routeInfoBox {
    height: 16vh;
    position: absolute;
    top: 26vh;
    left: 4vw;
    right: 4vw;
    z-index: 1;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#routeDirectionList {
    height: 8vh;
    line-height: 4vh;
    font-size: 2.5vh;
    position: absolute;
    top: 1.5vh;
    left: 2vw;
    right: 2vw;
    padding-left: 6px;
    background-color: #f2f2f2;
    z-index: 2;
}

#routeDirectionDetails {
    height: 3.5vh;
    line-height: 3.5vh;
    font-size: 2.3vh;
    color: #4a4a4a;
    position: absolute;
    bottom: 1.5vh;
    left: 2vw;
    right: 2vw;
    padding-left: 6px;
    background-color: #f2f2f2;
    z-index: 2;
}

#routeDirectionDetails > * {
    float: left;
}

.share-button {
    position: fixed;
    z-index: 1;
    top: 15vh;
    right: 6vw;
}

.share-button img {
    width: 40px;
    height: 40px;
}

.current-location-button {
    position:fixed;
    z-index: 1;
    top : 22vh;
    right: 6vw;
}

.current-location-button img {
    width: 40px;
    height: 40px;
}

.go-this-way-button {
    background: rgba(1, 175, 175, 0.7);
    color: white;
    height: 9vh;
    line-height: 9vh;
    font-size: 24px;
    position: absolute;
    bottom: 4vh;
    left: 4vw;
    right: 4vw;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.arrow-back {
    content:url("../lib/images/arrow_back.png");
    height: 2.74vh;
    margin-left: 4vw;
}
.division {
    content:url("../lib/images/division.png");
    height: 10px;
    width: 1px;
    margin-left: 9px;
    margin-right: 9px;
}

.disappear {
    display: none;
}

#modalDialog {
    top: 50% !important;
    box-shadow: 0 0 0 0 !important;
}

#modalCallingDialog {
    top: 50% !important;
    background:  rgba(0,0,0,0);
    box-shadow: 0 0 0 0 !important;
}

#modalCalledDialog {
    top: 50% !important;
    background:  rgba(0,0,0,0);
    box-shadow: 0 0 0 0 !important;
}

.modal-content {
    padding: 12px 20px 12px 20px;
}

.modal-content h6 {
    font-size: 2.5vh;
    font-weight: bold;
    margin: 0.5rem 0 0.4rem 0;
}

.modal-content p {
    font-size: 2vh;
    color: #666666;
}

.modal-content .calling {
    color: #50e3c2 !important;
    font-size: 2.5vh;
    top: 50% !important;
    text-align: center;
    padding: 0 0 0 0;
}

.modal-content .called {
    color: #50e3c2 !important;
    font-size: 2.5vh;
    top: 50% !important;
    text-align: center;
    padding: 0 0 0 0;
}

.modal-footer a {
    font-size: 2.6vh;
    padding: 0 3vw !important;
}
.modal-footer .share {
    color: #ff0068;
}
.modal-footer .close {
    color: #666666;
}

.modal-overlay {
    background: rgba(0,0,0,0.4);
}
